* {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

section {
  background-color: #b1deef;
  min-height: 20px;
  max-width: 50%;
  margin: 1% auto;
  text-align: center;
  padding: 5% auto;
  border: 1px solid #264653;
}

h2 {
  color: #E76F51;
}

button {
  margin: 25px 10px;
  border: 1px solid #299D8F;
  background-color:  #89c8c1;
  padding: 6px 14px;
  max-height: 30px;
  min-height: 30px;
}

input {
  margin: 25px 10px;
  border: 1px solid #E9C46B;
  max-height: 24px;
  min-height: 30px;
}

h3 {
  color: #F3A261;
  border: 1px solid #e37011;
  width: 50%;
  margin: 2px auto;
}